/* -------------------------------Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------Eléments principaux de la page */

body
{
	background: url('images/font/fond_jaune.png');
}

#bloc_page
{
	width: 50%;
	min-width: 950px;
	margin: auto;
	font-family: "Trebuchet MS", Arial, Helvetica;
}

section h1, footer h1
{
	font-family: Dayrom, Arial, Helvetica;
	font-size: uppercase;
	text-transform: uppercase;
}


/* Header */

header
{
	display: flex;
	justify-content: space-between;
	background: url('images/font/separateur.png') repeat-x bottom;
}

#description_site
{
	display: flex;
	flex-direction: column;
}

.logo_zozor
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.logo_zozor img
{
	width: 60px;
	height: 59px;
}



header h1
{
	font-family: BallparkWeiner, "Trebuchet MS", Arial, Helvetica;
	margin: 0px 0px 0px 10px;
}

header h2
{
	font-family: Dayrom, "Trebuchet MS", Arial, Helvetica;
	font-size: 1.1em;
	margin-top: 0px;
}

/* -----------------------------------------------------------menu */

nav
{
	display: flex;
	align-items: flex-end;
	font-family: Dayrom, "Trebuchet MS", Arial, Helvetica;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-left: 15px;
}

nav a
{
	text-decoration: none;
	font-size: 1.3em;
	color: rgb(76, 77, 79);
}

nav a:hover
{
	color: rgb(183, 91, 25);
	text-decoration: underline;
}

/* ----------------------------------------------------------section */

#illustration
{
	margin-top: 1%;
	display: flex;
	background: url('images/photos/sanfrancisco.jpg');
	height: 219px;
	align-items: flex-end;
}

#description_illustration
{
	display: flex;
	align-items: center;
	height: 20%;
	width: 100%;
	justify-content: space-between;
	color: white;
	font-size: 0.8em;
	background-color: rgba(24,24,24,0.8);
	padding-left: 4px;
	vertical-align: middle;
}

#bouton_rouge
{
	text-align: center;
	width: 100px;
	height: 29px;
	background: url('images/font/fond_degraderouge.png') repeat-x;
	margin: 10px;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	border: 2px solid blue;
	line-height: 25px;
}

section
{
	display: flex;
}

article h1
{
	font-size: 1.2em;
}

section p
{
	font-size: 0.9em;
	text-align: justify;
}

article p:nth-child(2)
{

}

article
{
	flex: 3;
}

#ico_epingle
{
	margin-right: 1%;
	vertical-align: middle;
}


/* -------------------------------------------------------------aside */

aside
{
	display: flex;
	flex-direction: column;
	background-color: rgb(120, 120, 120);
	color: white;
	margin: 3% 0% 5% 3%;
	flex: 1;
	padding: 2% 1% 2% 1%;
	align-items: center;
}

aside h1
{
	font-size: 1.1em;
}

#avatar_zozor
{
	width: 60%;
	border: 1px solid black;
}

#logos_reseaux_sociaux
{
	display: flex;
}

/* ------------------------------------------------------------footer */

footer
{
	display: flex;
	background: url('images/font/separateur.png') repeat-x top, 
	url('images/font/ombre.png') repeat-x top;
}

#dernier_tweet
{
	flex: 0.8;
}

#mes_photos
{
	flex: 1.3;
}

#mes_photos_photos
{
	display: flex;
	justify-content: space-between;
	padding-right: 10%;
	height: 71px;
}

.photos_miniatures
{
	border: 1px solid black;
}

footer h1
{
	font-size: 1em;
}

footer p
{
	font-size: 0.9em;
}

#listes_amis
{
	display: flex;
}

#mes_amis ul
{
	list-style-image: url('images/icones/ico_liensexterne.png');
	padding-left: 4%;
}


	
